<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('../partials/navBar') %>  

        <!-- Cuerpo principal -->
        <section class="row">
          <article class="col-12  card pt-5" >
                  <div class="card-body">
                    <h1 class="card-title text-center">Detalle del Plato</h1>
                  </div>
          </article>
      </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-8 mx-auto bg-light ">
                        <div class="card">
                            <ul class="list-group">
                                <li class="list-group-item">Id: <%= platoComida.id%></li>
                                <li class="list-group-item">Nombre: <%= platoComida.name%></li>
                                <li class="list-group-item">Descripción: <%= platoComida.description%></li>
                                <li class="list-group-item">Precio: <%= platoComida.price%></li>
                                <li class="list-group-item">Descuento: <%= platoComida.discount%></li>
                            </ul>
                            <figure class="form-group">
                              <img class="w-100 " src="/images/platos/<%= platoComida.image%>" alt="Plato de comida">
                          </figure>
                        </div> 
                        <a class="btn btn-danger" href="/administrar">Volver</a>
                    </div>                        
                </div>
            </div>
        </section>
        <!-- Footer -->
        <%- include('../partials/footer') %>        <!-- Scripts para Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>